.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.flex-between {
  justify-content: space-between;
}
// .babylon5flex {
//   flex: auto;
// }
.babylon5rpg .flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.babylon5rpg .flexcol > * {
  flex: 1;
}
.babylon5rpg .flexcol .flex1 {
  flex: 1;
}
.babylon5rpg .flexcol .flex2 {
  flex: 2;
}
.babylon5rpg .flexcol .flex3 {
  flex: 3;
}
.babylon5rpg .babylon5rpg .flexcol .flex4 {
  flex: 4;
}
.babylon5rpg .flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.babylon5rpg .flexrow > * {
  flex: 1;
}
.babylon5rpg .flexrow .flex1 {
  flex: 1;
}
.babylon5rpg .flexrow .flex2 {
  flex: 2;
}
.babylon5rpg .flexrow .flex3 {
  flex: 3;
}
.babylon5rpg .flexrow .flex4 {
  flex: 4;
}
