<form class="{{cssClass}}" autocomplete="off">
  <header class="vehicle-header">
    <img class="profile-img-item" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "BABYLON5RPG.Name"}}" /></h1>

      <div class="resources grid-weapon">
        <h3 class="resource-label wItem1">{{localize "BABYLON5RPG.Weight"}}</h3>
        <input type="text" name="data.attributes.weight.value" class="maxboxsize wItem2" value="{{data.attributes.weight.value}}" data-dtype="Number" />
        <h3 class="resource-label wItem3">{{localize "BABYLON5RPG.Cost"}}</h3>
        <div class="wItem4"><input type="text" class="cashboxsize" name="data.attributes.cost.value" value="{{data.attributes.cost.value}}"  data-dtype="Number"/> cr.</div>

        <h3 class="wItem6 resource-label">{{localize "BABYLON5RPG.Type"}}</h3>
        <div class="wItem7">
          <select class="select-css" name="data.header.type.value" data-dtype="{{data.header.type.value}}">
            {{#select data.header.type.value}}
            <!-- <option value=""></option> -->
            <option value="1">{{localize "BABYLON5RPG.DataStorage"}}</option>
            <option value="2">{{localize "BABYLON5RPG.DiagnosticsDisplay"}}</option>
            <option value="3">{{localize "BABYLON5RPG.VisionDevices"}}</option>
            <option value="4">{{localize "BABYLON5RPG.Tools"}}</option>
            <option value="5">{{localize "BABYLON5RPG.MedicalSupplies"}}</option>
            <option value="6">{{localize "BABYLON5RPG.Pharmaceuticals"}}</option>
            <option value="7">{{localize "BABYLON5RPG.FoodDrink"}}</option>
            <option value="8">{{localize "BABYLON5RPG.Power"}}</option>
            <option value="9">{{localize "BABYLON5RPG.ComputerMainframes"}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "BABYLON5RPG.Attributes"}}</a>
    <a class="item" data-tab="notes">{{localize "BABYLON5RPG.Notes"}}</a>
    <a class="item" data-tab="modifiers">{{localize "BABYLON5RPG.Modifiers"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{#ife data.header.type.value '3'}}
      <div class="grid-Char-Att">
        <h3 class="resource-label gCol1">{{localize "BABYLON5RPG.Power"}}</h3>
        <input type="text" name="data.attributes.power.value" class="maxboxsize gCol2" value="{{data.attributes.power.value}}" data-dtype="Number" />
      </div>
      {{/ife}} {{#ife data.header.type.value '4'}}
      <div class="grid-Char-Att">
        <h3 class="resource-label gCol1">{{localize "BABYLON5RPG.Power"}}</h3>
        <input type="text" name="data.attributes.power.value" class="maxboxsize gCol2" value="{{data.attributes.power.value}}" data-dtype="Number" />
      </div>
      {{/ife}} {{#ife data.header.type.value '7'}}
      <div class="grid-Char-Att">
        <h3 class="resource-label gCol1">{{localize "BABYLON5RPG.Food"}}</h3>
        <input type="text" name="data.attributes.food.value" class="maxboxsize gCol2" value="{{data.attributes.food.value}}" data-dtype="Number" />
        <h3 class="resource-label gCol3">{{localize "BABYLON5RPG.Water"}}</h3>
        <input type="text" name="data.attributes.water.value" class="maxboxsize gCol4" value="{{data.attributes.water.value}}" data-dtype="Number" />
      </div>
      {{/ife}} {{#ife data.header.type.value '8'}}
      <label class="resource-label wCol11">{{localize "BABYLON5RPG.Power"}}</label>
      <input type="text" class="maxboxsize wCol12" name="data.attributes.power.value" value="{{data.attributes.power.value}}" data-dtype="Number" />
      {{/ife}} {{#ife data.header.type.value '9'}}
      <div class="grid-2col">
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.comtech.value" class="resource-label">{{localize "BABYLON5RPG.SkillComtech"}} ({{data.modifiers.skills.comtech.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.comtech.value" value="{{data.modifiers.skills.comtech.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.piloting.value" class="resource-label">{{localize "BABYLON5RPG.SkillPiloting"}} ({{data.modifiers.skills.piloting.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.piloting.value" value="{{data.modifiers.skills.piloting.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.observation.value" class="resource-label">{{localize "BABYLON5RPG.SkillObservation"}} ({{data.modifiers.skills.observation.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.observation.value" value="{{data.modifiers.skills.observation.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.rangedCbt.value" class="resource-label">{{localize "BABYLON5RPG.SkillRangedCbt"}} ({{data.modifiers.skills.rangedCbt.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.rangedCbt.value" value="{{data.modifiers.skills.rangedCbt.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/ife}}

      <h2 class="resource-label">{{localize "BABYLON5RPG.Comment"}}</h2>
      <textarea name="data.attributes.comment.value" rows="12" data-dtype="String">{{data.attributes.comment.value}}</textarea>
    </div>

    <div class="tab modifiers" data-group="primary" data-tab="modifiers">
      {{#ifne data.header.type.value '9'}}
      <h2 class="resource-label">{{localize "BABYLON5RPG.Attributes"}}</h2>
      <div class="grid-2col">
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.attributes.health.value" class="resource-label">{{localize "BABYLON5RPG.Health"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.attributes.health.value" value="{{data.modifiers.attributes.health.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.attributes.stress.value" class="resource-label">{{localize "BABYLON5RPG.Stress"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.attributes.stress.value" value="{{data.modifiers.attributes.stress.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.attributes.str.value" class="resource-label">{{localize "BABYLON5RPG.AbilityStr"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.attributes.str.value" value="{{data.modifiers.attributes.str.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.attributes.wit.value" class="resource-label">{{localize "BABYLON5RPG.AbilityWit"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.attributes.wit.value" value="{{data.modifiers.attributes.wit.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.attributes.agl.value" class="resource-label">{{localize "BABYLON5RPG.AbilityAgl"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.attributes.agl.value" value="{{data.modifiers.attributes.agl.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.attributes.emp.value" class="resource-label">{{localize "BABYLON5RPG.AbilityEmp"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.attributes.emp.value" value="{{data.modifiers.attributes.emp.value}}" data-dtype="Number" />
        </div>
      </div>
      {{/ifne}}

      <h2 class="resource-label">{{localize "BABYLON5RPG.Skills"}}</h2>
      <div class="grid-2col">
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.heavyMach.value" class="resource-label">{{localize "BABYLON5RPG.SkillHeavyMach"}} ({{data.modifiers.skills.heavyMach.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.heavyMach.value" value="{{data.modifiers.skills.heavyMach.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.closeCbt.value" class="resource-label">{{localize "BABYLON5RPG.SkillCloseCbt"}} ({{data.modifiers.skills.closeCbt.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.closeCbt.value" value="{{data.modifiers.skills.closeCbt.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.stamina.value" class="resource-label">{{localize "BABYLON5RPG.SkillStamina"}} ({{data.modifiers.skills.stamina.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.stamina.value" value="{{data.modifiers.skills.stamina.value}}" data-dtype="Number" />
        </div>
        {{#ifne data.header.type.value '9'}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.rangedCbt.value" class="resource-label">{{localize "BABYLON5RPG.SkillRangedCbt"}} ({{data.modifiers.skills.rangedCbt.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.rangedCbt.value" value="{{data.modifiers.skills.rangedCbt.value}}" data-dtype="Number" />
        </div>
        {{/ifne}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.mobility.value" class="resource-label">{{localize "BABYLON5RPG.SkillMobility"}} ({{data.modifiers.skills.mobility.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.mobility.value" value="{{data.modifiers.skills.mobility.value}}" data-dtype="Number" />
        </div>
        {{#ifne data.header.type.value '9'}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.piloting.value" class="resource-label">{{localize "BABYLON5RPG.SkillPiloting"}} ({{data.modifiers.skills.piloting.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.piloting.value" value="{{data.modifiers.skills.piloting.value}}" data-dtype="Number" />
        </div>
        {{/ifne}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.command.value" class="resource-label">{{localize "BABYLON5RPG.SkillCommand"}} ({{data.modifiers.skills.command.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.command.value" value="{{data.modifiers.skills.command.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.manipulation.value" class="resource-label">{{localize "BABYLON5RPG.SkillManipulation"}} ({{data.modifiers.skills.manipulation.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.manipulation.value" value="{{data.modifiers.skills.manipulation.value}}" data-dtype="Number" />
        </div>
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.medicalAid.value" class="resource-label">{{localize "BABYLON5RPG.SkillMedicalAid"}} ({{data.modifiers.skills.medicalAid.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.medicalAid.value" value="{{data.modifiers.skills.medicalAid.value}}" data-dtype="Number" />
        </div>
        {{#ifne data.header.type.value '9'}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.observation.value" class="resource-label">{{localize "BABYLON5RPG.SkillObservation"}} ({{data.modifiers.skills.observation.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.observation.value" value="{{data.modifiers.skills.observation.value}}" data-dtype="Number" />
        </div>
        {{/ifne}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.survival.value" class="resource-label">{{localize "BABYLON5RPG.SkillSurvival"}} ({{data.modifiers.skills.survival.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.survival.value" value="{{data.modifiers.skills.survival.value}}" data-dtype="Number" />
        </div>
        {{#ifne data.header.type.value '9'}}
        <div class="modifiers flexrow flex-group-center">
          <label for="data.modifiers.skills.comtech.value" class="resource-label">{{localize "BABYLON5RPG.SkillComtech"}} ({{data.modifiers.skills.comtech.ability}})</label>
          <input type="text" class="maxboxsize" name="data.modifiers.skills.comtech.value" value="{{data.modifiers.skills.comtech.value}}" data-dtype="Number" />
        </div>
        {{/ifne}}
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab item" data-group="primary" data-tab="notes">{{editor content=data.notes.notes target="data.notes.notes" button=true owner=owner editable=editable}}</div>
  </section>
</form>
