<form class="{{cssClass}}" autocomplete="off">
  <header class="vehicle-header">
    {{log "CONTEXT!!!!"}} {{log this}}

    <div class="header-fields">
      <h1 class="charname">
        <select class="select-css" name="name" value="{{item.name}}" data-dcareer="{{item.name}}">
          {{#select item.name}}
          <!-- <option value=""></option> -->
          <option value="Heavy Machinery">{{localize "BABYLON5RPG.SkillHeavyMach"}}</option>
          <option value="Close Combat">{{localize "BABYLON5RPG.SkillCloseCbt"}}</option>
          <option value="Stamina">{{localize "BABYLON5RPG.SkillStamina"}}</option>
          <option value="Ranged Combat">{{localize "BABYLON5RPG.SkillRangedCbt"}}</option>
          <option value="Mobility">{{localize "BABYLON5RPG.SkillMobility"}}</option>
          <option value="Piloting">{{localize "BABYLON5RPG.SkillPiloting"}}</option>
          <option value="Command">{{localize "BABYLON5RPG.SkillCommand"}}</option>
          <option value="Manipulation">{{localize "BABYLON5RPG.SkillManipulation"}}</option>
          <option value="Medical Aid">{{localize "BABYLON5RPG.SkillMedicalAid"}}</option>
          <option value="Observation">{{localize "BABYLON5RPG.SkillObservation"}}</option>
          <option value="Survival">{{localize "BABYLON5RPG.SkillSurvival"}}</option>
          <option value="Comtech">{{localize "BABYLON5RPG.SkillComtech"}}</option>
          {{/select}}
        </select>
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stunts">{{localize "BABYLON5RPG.Stunts"}}</a>
    <!-- <a class="item" data-tab="notes">{{localize "BABYLON5RPG.Notes"}}</a> -->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab item" data-group="primary" data-tab="stunts">{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
  </section>
</form>
